@font-face {
    font-family: "Agbalumo-Regular";
    src: url("Agbalumo-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Nasa-Medium";
    src: url("Nasa.ttf") format("truetype");
}

